/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basic Styles
	#CSS3 Transition
	#Fonts
	#Typography
	#Links
	#Aligns
	#Images
	#Forms */

/* Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; 
}

body {
	line-height: 1; 
}

ol, ul, li {
	list-style: none; 
}

blockquote, q {
	quotes: none; 
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none; 
}

table {
	border-collapse: collapse;
	border-spacing: 0; 
}

html {
	-webkit-text-size-adjust: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

* {
	outline:none;
}

input[type='submit'] {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border: none;
}

::-moz-selection {
    color: #fff;
	text-shadow: none;
	background-color: #575757;
}

::selection {
    color: #fff;
	text-shadow: none;
	background-color: #4f4f4f;
}

p, blockquote {
	line-height: 20px;
}
ul li, ol li {
	line-height: 24px;
}

pre {
    background: #f7f7f7;
    padding: 20px;
    margin: 0;
    border: 1px solid #eee;
    border-radius: 5px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
    overflow: hidden;
    line-height: 24px;
}

/* CSS3 Transition
================================================== */
a, .hdv-socials i {
	-webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;
}

.services.style-1 .item .circle, .latest-blog .item img, .featured-clients img, .services.style-2 .item .circle, .services.style-3 .item .circle, .image-post img, .widget.most-posts ul.posts li img, #footer.thumbs li img, #sidebar.thumbs li img, .related-posts .item img { 
	-webkit-transition: all 0.4s ease-in;  
    -moz-transition: all 0.4s ease-in;  
    -ms-transition: all 0.4s ease-in;  
    -o-transition: all 0.4s ease-in;  
    transition: all 0.4s ease-in;
}

.tables-column .header h3 span.pop {
	-webkit-transform: rotate(45deg); /* Chrome & Safari */
    -moz-transform: rotate(45deg); /* Firefox */
    -ms-transform: rotate(45deg); /* IE 9+ */
    -o-transform: rotate(45deg); /* Opera */
    transform: rotate(45deg); /* CSS3 */
}

/* Fonts
================================================== */
body {
	 font-family:'Raleway', Arial, sans-serif;
}

.hdv-footer h3 {
	font-family:'CodeProDemoRegular', Arial, sans-serif;
}

.hdv-contact, .hdv-bottom, .hdv-footer {
	font-size: 13px;
}

/* Typography
================================================== */
	h1, h2, h3, h4, h5, h6 { font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }

	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: 80%; }

/* Links
================================================== */
a { 
   text-decoration: none;
   color: #434a54;
}

a, a:visited {
	outline: 0;
}

a:hover, a:focus { }

p a, p a:visited {
	line-height: inherit;
}

/* Aligns
================================================== */
.services.style-1 .item h3, .services.style-1 .item .circle, .services.style-1 .item p, .slidecontrols li a, .more, #toTop, table.style th, table.style td, .welcome, .services.style-2 .item .circle, .services.style-3 .item .circle, .page-404 .oops, .page-404 .text, .tables-column, .flex-direction-nav li a, .blog-3 #options #filters, .blog-3 .pagination-contain, .member-social a, .share-social a, body.under-construction header .logo, body.under-construction .content, body.under-construction footer, header.style-3.style-5 .logo, header.style-3.style-5 .navigation, .slider-2 .slides li .contain, .one-page h2.title, .one-page p.description, .one-page #options #filters, .one-page h1.title, .download-now, .welcome-text, .notification_ok  {
	text-align: center;
}

header.style-3.style-5 .navigation > #nav, .one-page.section h2, .one-page.section p, .notification_error {
	text-align: left;
}


/* Images
================================================== */
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

/* Forms
================================================== */
form { margin-bottom: 20px; }

fieldset { margin-bottom: 20px; }

select { padding: 0; }

textarea { min-height: 60px; }

label, legend { display: block; font-weight: bold; font-size: 13px; }

select { width: 220px; }

input[type="checkbox"] { display: inline; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	/* border: none;
	padding: 6px 8px;
	outline: none;
	-moz-border-radius: 1px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #777;
	margin: 0;
	height: 30px;
	width: 220px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff; */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	/* color: #444;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2); */
}
