
#hdv-wrap.hdv-boxed {
	width: 1000px;
	margin: 30px auto;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#hdv-wrap.hdv-boxed header.hdv-fixed .hdv-sticky-wrap.hdv-sticky .hdv-header {
	width:1000px;
}

body.crossed {
	background:url(../../images/patterns/crossed.jpg) repeat;
}

body.fabric {
	background:url(../../images/patterns/fabric.jpg) repeat;
}

body.linen {
	background:url(../../images/patterns/linen.jpg) repeat;
}

body.wood {
	background:url(../../images/patterns/wood.jpg) repeat;
}

body.diagmonds {
	background:url(../../images/patterns/diagmonds.jpg) repeat;
}

/* ---------------------------------------------------
   MEDIA QUERIES ( Devices and Browsers )
--------------------------------------------------- */

/* Smaller than standard 1024 */
@media only screen and (max-width: 1024px) {
	#hdv-wrap.hdv-boxed {
		width:100%;
		margin:0;
	}
	#hdv-wrap.hdv-boxed header.hdv-fixed .hdv-sticky-wrap.hdv-sticky .hdv-header {
		width:100%;
	}
}

/* Tablet Portrait size to standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#hdv-wrap.hdv-boxed {
		width:100%;
		margin:0;
	}
	#hdv-wrap.hdv-boxed header.hdv-fixed .hdv-sticky-wrap.hdv-sticky .hdv-header {
		width:100%;
	}
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	#hdv-wrap.hdv-boxed {
		width:100%;
		margin:0;
	}
	#hdv-wrap.hdv-boxed header.hdv-fixed .hdv-sticky-wrap.hdv-sticky .hdv-header {
		width:100%;
	}
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#hdv-wrap.hdv-boxed {
		width:100%;
		margin:0;
	}
	#hdv-wrap.hdv-boxed header.hdv-fixed .hdv-sticky-wrap.hdv-sticky .hdv-header {
		width:100%;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
	#hdv-wrap.hdv-boxed {
		width:100%;
		margin:0;
	}
	#hdv-wrap.hdv-boxed header.hdv-fixed .hdv-sticky-wrap.hdv-sticky .hdv-header {
		width:100%;
	}
}
