
/* Buttons
=========================================================*/
.hdv-btn {
	display: inline-block;
	font-size: 13px;
	line-height: 20px;
	padding: 10px 32px;
	margin: 0 5px 15px 0;
	cursor: pointer;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.hdv-btn.hdv-btn-small {
	padding: 6px 20px;
	font-size: 13px;
	line-height: 17px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.hdv-btn.hdv-btn-large {
	padding: 12px 40px;
	font-size: 16px;
	line-height: 26px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.hdv-btn.hdv-btn-upper {
    text-transform: uppercase;
}

.hdv-btn.hdv-icon-left i {
	padding-right: 10px;
}

.hdv-btn.hdv-icon-right i {
	padding-left: 10px;
}

.hdv-btn-blue {
	background-color: #50c0e6;
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.hdv-btn-blue:hover, .hdv-btn-blue:focus, .hdv-btn-blue:active {
	background-color: #5dd6ff;
	color: white;
}

.hdv-btn-blue.hdv-border-type {
	background: none;
	color: #50c0e6;
	box-shadow: 0 0 0 2px #50c0e6 inset;
	text-shadow: none;
}

.hdv-btn-blue.hdv-border-type:hover, .hdv-btn-blue.hdv-border-type:focus, .hdv-btn-blue.hdv-border-type:active {
	background-color: #50c0e6;
	color: white;
}

.hdv-btn-orange {
	background-color: #ff7316;
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.hdv-btn-orange:hover, .hdv-btn-orange:focus, .hdv-btn-orange:active {
	background-color: #ff8534;
	color: white;
}

.hdv-btn-orange.hdv-border-type {
	background: none;
	color: #ff7316;
	box-shadow: 0 0 0 2px #ff7316 inset;
	text-shadow: none;
}

.hdv-btn-orange.hdv-border-type:hover, .hdv-btn-orange.hdv-border-type:focus, .hdv-btn-orange.hdv-border-type:active {
	background-color: #ff7316;
	color: white;
}

.hdv-btn-green {
	background-color: #9fd46c;
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.hdv-btn-green:hover, .btn-green:focus, .hdv-btn-green:active {
	background-color: #a2e265;
	color: white;
}

.hdv-btn-green.hdv-border-type {
	background: none;
	color: #9fd46c;
	box-shadow: 0 0 0 2px #9fd46c inset;
	text-shadow: none;
}

.hdv-btn-green.hdv-border-type:hover, .btn-green.hdv-border-type:focus, .hdv-btn-green.hdv-border-type:active {
	background-color: #9fd46c;
	color: white;
}

.hdv-btn-yellow {
	background-color: #ffcf27;
	color: #434a54;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.hdv-btn-yellow:hover, .btn-yellow:focus, .hdv-btn-yellow:active {
	background-color: #ffdb5c;
}

.hdv-btn-yellow.hdv-border-type {
	background: none;
	color: #ffcf27;
	box-shadow: 0 0 0 2px #ffcf27 inset;
	text-shadow: none;
}

.hdv-btn-yellow.hdv-border-type:hover, .hdv-btn-yellow.hdv-border-type:focus, .hdv-btn-yellow.hdv-border-type:active {
	background-color: #ffcf27;
	color: white;
}

.hdv-btn-teal {
	background-color: #3ebbbb;
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.hdv-btn-teal:hover, .hdv-btn-teal:focus, .hdv-btn-teal:active {
	background-color: #37d6d6;
}

.hdv-btn-teal.hdv-border-type {
	background: none;
	color: #3ebbbb;
	box-shadow: 0 0 0 2px #3ebbbb inset;
	text-shadow: none;
}

.hdv-btn-teal.hdv-border-type:hover, .hdv-btn-teal.hdv-border-type:focus, .hdv-btn-teal.hdv-border-type:active {
	background-color: #3ebbbb;
	color: white;
}

.hdv-btn-red {
	background-color: #e82b2b;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	color: white;
}

.hdv-btn-red:hover, .hdv-btn-red:focus, .hdv-btn-red:active {
	background-color: #e84e4e;
}

.hdv-btn-red.hdv-border-type {
	background: none;
	color: #e82b2b;
	box-shadow: 0 0 0 2px #e82b2b inset;
	text-shadow: none;
}

.hdv-btn-red.hdv-border-type:hover, .hdv-btn-red.hdv-border-type:focus, .hdv-btn-red.hdv-border-type:active {
	background-color: #e82b2b;
	color: white;
}

.hdv-btn-grey {
	background-color: #aab2bd;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.hdv-btn-grey:hover, .hdv-btn-grey:focus, .hdv-btn-grey:active {
	background-color: #b2bece;
}

.hdv-btn-grey.hdv-border-type {
	background: none;
	color: #aab2bd;
	box-shadow: 0 0 0 2px #aab2bd inset;
	text-shadow: none;
}

.hdv-btn-grey.hdv-border-type:hover, .hdv-btn-grey.hdv-border-type:focus, .hdv-btn-grey.hdv-border-type:active {
	background-color: #aab2bd;
	color: white;
}

.hdv-btn-black {
	background-color: #333;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.hdv-btn-black:hover, .hdv-btn-black:focus, .hdv-btn-black:active {
	background-color: #666;
}

.hdv-btn-black.hdv-border-type {
	background: none;
	color: #333;
	box-shadow: 0 0 0 2px #333 inset;
	text-shadow: none;
}

.hdv-btn-black.hdv-border-type:hover, .hdv-btn-black.hdv-border-type:focus, .hdv-btn-black.hdv-border-type:active {
	background-color: #333;
	color: white;
}
