@CHARSET "ISO-8859-1";

.fhd-form input[type="text"],.fhd-form input[type="email"],.fhd-form input[type="tel"],.fhd-form input[type="url"],.fhd-form textarea,.fhd-form button[type="submit"]
	{
	font: 400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fhd-form {
	text-shadow: 0 1px 0 #FFF;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 25px;
}

.fhd-form h3 {
	color: #991D57;
	display: block;
	font-size: 28px;
}

.fhd-form h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
}

.fhd-form label span {
	cursor: pointer;
	color: #991D57;
	display: block;
	margin: 5px 0;
	font-weight: 900;
}

.fhd-form input[type="text"],.fhd-form input[type="email"],.fhd-form input[type="tel"],.fhd-form input[type="url"],.fhd-form textarea
	{
	width: 100%;
	box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border: 1px solid #CCC;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px 0px;
	border-radius: 5px;
}

.fhd-form input[type="text"]:hover,.fhd-form input[type="email"]:hover,.fhd-form input[type="tel"]:hover,.fhd-form input[type="url"]:hover,.fhd-form textarea:hover
	{
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #AAA;
}

.fhd-form textarea {
	height: 100px;
	max-width: 100%;
}

.fhd-form button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #991D57;
	background-image: linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image: -moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image: -webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	border-radius: 5px;
}

.fhd-form button[type="submit"]:hover {
	background-image: linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image: -moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image: -webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

.fhd-form button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.fhd-form input:focus,.fhd-form textarea:focus {
	outline: 0;
	border: 1px solid #999;
}

::-webkit-input-placeholder {
	color: #888;
}

:-moz-placeholder {
	color: #888;
}

::-moz-placeholder {
	color: #888;
}

:-ms-input-placeholder {
	color: #888;
}

/* Button */
#fhd-button {
    background-color:#3bb3e0;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    position:relative;
    padding:10px 20px;
    padding-right:50px;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(44,160,202)),
    color-stop(1, rgb(62,184,229))
    );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

#fhd-button:active {
    top:3px;
    background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(62,184,229)),
    color-stop(1, rgb(44,160,202))
    );
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

#fhd-button::before {
    background-color:#2591b4;
    background-image:url(../images/right_arrow.png);
    background-repeat:no-repeat;
    background-position:center center;
    content:"";
    width:20px;
    height:20px;
    position:absolute;
    right:15px;
    top:50%;
    margin-top:-9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
    -moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
    -o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
    box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

#fhd-button:active::before {
    top:50%;
    margin-top:-12px;
    -webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
    -moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
    -o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
    box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}