

/* switcher plugin */
.switcher-container h3 {
	font-size:13px;
	margin: 1px 0 3px 0;
	color:#474646;
}

.switcher-container {
	background: #FBFBFB;
	width:199px;
	position:fixed;
	top:185px;
	z-index:9999;
	left:0px;
	border-radius: 0 0 4px 0;
	border-color: #DDDDDD;
	border-style: none solid solid none;
    border-width: medium 1px 1px medium;
	-webkit-box-shadow:  0 2px 9px 2px rgba(0, 0, 0, 0.14);
	box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.14);
}

.switcher-container h2 {
	background: #3a9191;
	color: #FFFFFF;
	padding: 0;
	font-size: 15px;
	padding: 5px 0 6px 16px;
	line-height: 30px;
}

.switcher-container h2 a {
	background: #3a9191;
	display: block;
	height: 27px;
	position: absolute;
	right: -39px;
	top: 0;
	width: 42px;
	border-radius: 0 4px 4px 0;
	text-align:center;
	color:#fff;
	padding: 7px 0;
}

.switcher-container .selector-box {
	padding:5px 16px 16px 16px;
	overflow:hidden;
}

.switcher-container .icon-settings{
	display: inline-block;
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
.switcher-container .icon-settings:hover{
	color:#31C5C7;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
    }
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
    }
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
    }
@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); }
    }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
    }

.layout-switcher {
	margin:0 0 10px 0;
	overflow:hidden;
}

.layout-switcher a.layout {
	padding:8px 15px 7px;
	border-radius: 2px;
	color: #5a5c5d;
	border: 2px solid #EAEAEA;
	width: 39px;
	cursor: pointer;
	float: left;
	display: block;
	margin: 0 6px 0 0;
	text-align: center;
	background: white;
	font-size: 14px;
}

.layout-switcher a.layout.current {
	cursor: default;
	border-color: #3a9191;
}

.color-box {
	height:auto;
	overflow:hidden;
	margin-bottom:6px;
}

.styleswitch {
	width: 28px;
    height: 28px;
	display: block;
	cursor: pointer;
	margin: 0 4px 4px 0;
	float:left;
}

.styleswitch#red    { background-color:#e7402f; }
.styleswitch#orange { background-color:#ef730e; }
.styleswitch#turquoise { background-color:#3fbd98; }
.styleswitch#green  { background-color:#80ba42; }
.styleswitch#blue   { background-color:#378ac4; }

.pattern-box {
	height:auto;
	overflow:hidden;
	margin-bottom:6px;
}

.pattern {
	width: 28px;
    height: 28px;
	display: block;
	cursor: pointer;
	margin: 0 4px 4px 0;
	float:left;
}

.pattern#crossed { background: url("../images/patterns/icons/crossed.png") no-repeat ; }
.pattern#fabric  { background: url("../images/patterns/icons/fabric.png") no-repeat ; }
.pattern#linen   { background: url("../images/patterns/icons/linen.png") no-repeat ; }
.pattern#wood    { background: url("../images/patterns/icons/wood.png") no-repeat ; }
.pattern#diagmonds { background: url("../images/patterns/icons/diagmonds.png") no-repeat ; }

a.reset {
	display: block;
	padding: 9px 0 11px 0;
	text-align: center;
	background: #3a9191;
	color: #fff;
	cursor: pointer;
}
a.reset:hover {
	background: #000;
	color: #fff;
}