/* ---------------------------------------------------
   BEGIN THEME STYLESHEET
--------------------------------------------------- */
/* Top Header */
.hdv-top {
	background: none repeat scroll 0 0 #fff;
	border-bottom: 1px solid #eaebee;
	padding: 8px 20px;
	background: url(../images/style/watch-bg.png);
}

.hdv-contact, .hdv-contact a {
	color: #434a54;
	line-height: 25px;
}

.hdv-contactby {
	display: inline-block;
}

.hdv-contact i {
	padding-right: 10px;
}

.hdv-contactby a {
	margin-right: 15px;
}

.hdv-socials {
	float: right;
	line-height: 25px;
}

.hdv-socials a {
	color: #434a54;
	font-size: 15px;
	padding-left: 3px;
}

.hdv-contact a:hover, .hdv-socials a:hover i {
	color: #9fd46c;
}

/* Header */
header .hdv-header {
	background: none repeat scroll 0 -36px #FFFFFF;
}
.hdv-header .hdv-logo{
	margin-left:50%;
}
.hdv-header .hdv-logo a {
	display:inline-block;
	height: 100%;
}

.hdv-header .hdv-logo img {
	width: 64px;
	padding-top: 5px;
    max-height: 100%;
	vertical-align: middle;
	max-width: 64px;
}

/* Search Header*/
.hdv-search-header {
	float: right;
	color: #a9b1bc;
	line-height: 80px;
	margin-right: 10px;
	font-size: 14px;
}

/* Navigation */
.hdv-nav {
	float: right;	
}

.hdv-nav ul.hdv-header-nav li {
	position: relative;
}

.hdv-nav ul.hdv-header-nav > li {
	float: left;
}

.hdv-nav ul.hdv-header-nav > li > a {
	color: #434a54;
	font-family: 'CodeProDemoRegular',Arial,sans-serif;
	display: block;
	height: 80px;
	line-height: 80px;
	font-size: 15px;
	padding: 0px 17px;
}

.hdv-nav ul.hdv-header-nav > li > a:hover {
	color: #9fd46c;
}

.hdv-nav ul.hdv-header-nav > li.hdv-menu-parent > a {
	margin-right: 18px;
}

.hdv-nav ul.hdv-header-nav > li.hdv-menu-parent > a:after {
	content: "\e095";
	font-family: 'Simple-Line-Icons';
	font-size: 12px;
	position: absolute;
	top: -2px;
	right: 15px;
}

.hdv-nav ul.hdv-header-nav > li.hdv-current-menu > a {
	color: #9fd46c;
}

.hdv-nav ul.hdv-header-nav ul.tb-sub-menu > li.hdv-menu-parent > a:after {
	content: "\e095";
	font-family: 'Simple-Line-Icons';
	font-size: 12px;
	position: absolute;
	top: 0px;
	right: 15px;
}

.hdv-nav ul.hdv-header-nav li ul.tb-sub-menu {
	position: absolute;
	z-index: 99;
	border: 1px solid rgba(0,0,0,0.2);
	border: 1px solid #aaa;
	width: 200px;
	opacity: 0;
	filter: alpha(opacity=0);
	display: none;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.hdv-nav ul.hdv-header-nav li ul.tb-sub-menu > li > a {
	padding: 10px 0;
	margin: 0 17px;
	text-transform: none;
	font-size: 14px;
	color: #434a54;
	height: 40px;
	line-height: 40px;
}

.hdv-nav ul.hdv-header-nav li ul.tb-sub-menu > li:hover > a {
	padding-left: 5px;
	color: #9fd46c;
}

.hdv-nav ul.hdv-header-nav li ul.tb-sub-menu > li:hover {
	background: #434a54;
}

.hdv-nav ul.hdv-header-nav li ul.tb-sub-menu > li:last-child > a {
	border-bottom: none;
}

.hdv-nav ul.hdv-header-nav li ul.tb-sub-menu > li > ul.tb-sub-menu {
	position: absolute;
	left: 200px;
	top: -1px
}

.hdv-nav ul.hdv-header-nav > li:hover > ul.tb-sub-menu, .hdv-nav ul.hdv-header-nav > li > ul.tb-sub-menu > li:hover > ul.tb-sub-menu {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-animation: fadeIn .5s;
	-moz-animation: fadeIn .5s;
	-o-animation: fadeIn .5s;
	animation: fadeIn .5s;
	display: block;
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* Header Sticky */
header.hdv-fixed .hdv-sticky-wrap.hdv-sticky .hdv-header {
	position:relative;
	z-index:1000;
	width: 100%;
	-moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
}

/* Footer */
.hdv-footer {
	color: #000;
	padding: 70px 0;
	background: repeat scroll 0 0 #F8F4F8 ;
    border-top: 1px solid #eaebee;
}
.hdv-footer .container{
	margin: 0 auto;
    width: 90%;
}

.hdv-footer a {
	color: #fff;
}
.hdv-footer a:hover {
	color: #9fd46c;
}

.hdv-footer .hdv-logo {
	margin-bottom: 20px;
}

.hdv-footer .hdv-widget h3 {
	font-size: 16px;
}

/* Footer Widget */
.hdv-footer .hdv-company-widget p {
	margin-bottom: 15px;
}

.hdv-footer .hdv-twitter-widget a {
	color: #9fd46c;
}

.hdv-footer .hdv-twitter-widget a:hover {
	color: #fff;
}

.hdv-footer .hdv-twitter-widget ul {
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}

.hdv-footer .hdv-twitter-widget li {
    padding: 0 0 15px 28px;
    position: relative;
}

.hdv-footer .hdv-twitter-widget li:before {
	color: #9fd46c;
    content: "\e009";
    font: 16px 'Simple-Line-Icons';
    left: 0;
    position: absolute;
    top: 2px;
}

.hdv-footer .hdv-twitter-widget span {
    display: block;
    margin: 2px 0 0;
	line-height: 20px;
}

.hdv-footer .hdv-twitter-widget span.twit-date {
	color: #ccc;
}

.hdv-footer .hdv-flickr-widget ul {
	margin: 0 -4px;
}

.hdv-footer .hdv-flickr-widget li {
	float: left;
	margin: 4px 4px;

}

.hdv-footer .hdv-flickr-widget li img {
	width: 68px;
	border-radius: 10px;
}

.hdv-footer .hdv-widget-subscribe p {
	margin-bottom: 20px;
}

.hdv-flickr-widget li {
	position: relative;
}

.hdv-flickr-widget .hdv-gallery-icon i {
	color: #fff;
    display: block;
    font-size: 24px;
    height: 20px;
    left: 50%;
    line-height: 20px;
    margin: -12px 0 0 -12px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: scale(0.5);
    transition: all 0.25s ease 0s;
    width: 20px;
}

.hdv-flickr-widget li:hover .hdv-gallery-icon i {
    opacity: 1;
    transform: scale(1);
}

.hdv-flickr-widget .hdv-gallery img {
    transition: all 0.25s ease 0s;
}

.hdv-flickr-widget .hdv-gallery:hover img {
    opacity: 0.3;
}

.hdv-flickr-widget .hdv-gallery:hover .hdv-gallery-icon {
    background-color: rgba(255, 255, 255, 0.5);
}

.hdv-widget-subscribe .submit {
	background-color: #9fd46c;
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);	
}

/* Bottom Footer */
.hdv-bottom {
	color: #000;
	background: repeat scroll 0 0 #F8F4F8 ;
	border-top: 1px solid #eaebee;
	height: 43px;
}

.hdv-bottom .hdv-copyright, .hdv-bottom .hdv-socials {
	line-height: 43px;
}

.hdv-bottom .hdv-copyright a {
	color: #9fd46c;
}

.hdv-bottom .hdv-copyright a:hover {
	color: #fff;
}

.hdv-bottom .hdv-socials a {
	color: #fff;
}

/* ---------------------------------------------------
   MEDIA QUERIES ( Devices and Browsers )
--------------------------------------------------- */
/* Smaller than standard 960 */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {

}

/* ---------------------------------------------------
   Columns styles
--------------------------------------------------- */
.hdv-one-full {
    width: 100%;
}

.hdv-one-half {
    width: 48.95833333333333%;
}

.hdv-one-third {
    width: 31.875%;
}

.hdv-two-third {
    width: 65.83333333333333%;
}

.hdv-one-fourth {
    width: 23.4375%;
}

.hdv-three-fourth {
    width: 74.47916666666667%;
}

.hdv-one-fifth {
    width: 18.33333333333333%;
}

.hdv-two-fifth {
    width: 38.75%;
}

.hdv-three-fifth {
    width: 59.1666666668%;
}

.hdv-one-half,.hdv-one-third,.hdv-two-third,.hdv-one-fourth,.hdv-three-fourth,.hdv-one-fifth,.hdv-two-fifth,.hdv-three-fifth{
    float: left;
    margin-right: 2.083333333333333%;
    position: relative;
}

.hdv-last {
    margin-right: 0;
}

/* ---------------------------------------------------
   Slider styles
--------------------------------------------------- */
.slider_container .caption{
   transition: all .6s linear;
   -o-transition: all .6s linear;
   -moz-transition: all .6s linear;
   -webkit-transition: all .6s linear;
}
.slider_container:hover .caption{
	-webkit-animation: move-left .6s;
    -moz-animation: move-left .6s;
    -o-animation: move-left .6s;
    animation: move-left .6s;
    right:0px;
}

@-webkit-keyframes move-left {
  0%   { right: -330px; }
  100% { right: 0px; }
}

.cameraContents .caption{
	width: 330px;
	height: 100%;
	position: absolute;
	right: -330px;
	background: rgba(32, 49, 42, 0.8) url(../images/slider-images/note-overlay.png) no-repeat 0 0;
	-webkit-box-shadow: 0 0 2px rgba(255,255,255,.75);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	overflow-y:auto;
}
.object_caption{
    padding: 25px 30px;
}

.object_caption *{
	color:#FFF;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	margin:0px;
}
.object_caption h3 a{
	color: #FFD145;
	font-size:24px;
}
.object_caption h4{
	color: #FFD145;
    font-size:22px;
}
.object_caption a:hover{
	color:#378ac4 !important;
}

.object_caption li span{
	color:#FFD145;
	font-size: 14px;
	font-family: serif;
}
.object_caption li ,.object_caption li a{
    font-size: 13px;
    font-family: monospace;
    line-height:15px;
}

.object_caption p{
	font-size:12px;
	font-family: cursive;
}

.description_detail_ul{
	background-image: url(../images/slider-images/ul_dt_film.png) !important;
	padding: 10px !important;
	margin: 5px 0px !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
}

.object_caption .see_a-link{
	background: none;
	color: #50c0e6;
	box-shadow: 0 0 0 2px #50c0e6 inset;
	text-shadow: none;
	display: inline-block;
	font-size: 13px;
	padding: 10px 20px;
	margin-bottom: 20px;
	cursor: pointer;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	float:right;
}
.object_caption .see_a-link:hover{
    background-color: #50c0e6;
    color: white !important;
}

/*
 *   Flip category
 */
 #category_content {
    margin: 0 auto;
    width: 880px;
    display: table;
}

.thumb {
    display: block;
    width: 200px;
    height: 140px;
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}

.thumb-wrapper {
    display: block;
    width: 100%;
    height: 100%;
}

.thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}

.thumb .thumb-detail {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
}

.thumb .thumb-detail a {
    display: block;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1px;
    padding: 10px;
    font-size: 18px;
}

/*
 * Without CSS3
 */
.thumb.scroll {
    overflow: hidden;
}

.thumb.scroll .thumb-detail {
    bottom: -280px;
}

/*
 * CSS3 Flip
 */
.thumb.flip {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.thumb.flip .thumb-wrapper {
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -ms-transition: -moz-transform 1s;
    -o-transition: -moz-transform 1s;
    transition: -moz-transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.thumb.flip .thumb-detail {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.thumb.flip img,.thumb.flip .thumb-detail {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.thumb.flip .flipIt {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

/*
 * Navigation
 */
.nav-navigation {
    display: inline-block;
}

.nav-navigation ul,.nav-navigation ul li {
    display: inline-block;
}

.nav-navigation:after,.nav-navigation:before {
    margin-top: 0.5em;
    content: "";
    border: 1.5em solid #eaebee;
}

.nav-navigation:after {
    border-right-color: transparent;
    float: right;
}

.nav-navigation:before {
    border-left-color: transparent;
    float: left;
}

.nav-navigation a:link,.nav-navigation a:visited {
    color: #000;
    text-decoration: none;
    float: left;
    height: 3.5em;
    overflow: hidden;
}

.nav-navigation span {
    background: #eaebee;
    display: inline-block;
    line-height: 3em;
    padding: 0 1em;
    margin-top: 0.5em;
    position: relative;
    -webkit-transition: background-color 0.2s, margin-top 0.2s;
    /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s; /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s; /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s;
    /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s;
}

.nav-navigation a:hover span {
    background: #FFD204;
    margin-top: 0;
    height:
}

.nav-navigation span:before {
    content: "";
    position: absolute;
    top: 3em;
    left: 0;
    border-right: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #eaebee;
}

.nav-navigation span:after {
    content: "";
    position: absolute;
    top: 3em;
    right: 0;
    border-left: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #eaebee;
}

li.nav-has-sub {
    position: relative;
}

li.nav-has-sub li {
    line-height: 40px;
    display: block;
    height: 40px;
    width: 170px;
}

li.nav-has-sub > ul.nav-sub {
    position: absolute;
    display: none;
    z-index: 100;
    width: 170px;
    top: 57px;
    background: #eaebee;
}

li.sub-hidden > ul.nav-sub {
    left: 171px;
    top: 0px;
}

ul.nav-sub a {
    padding-left: 20px;
    height: 40px !important;
}
li.sub-hidden:hover,li.sub-hidden li:hover{
    background: #FFD204;
    filter: alpha(opacity=100);
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    -o-animation: fadeIn .5s;
    animation: fadeIn .5s;
}
li.sub-hidden:hover > a,li.sub-hidden li:hover > a{
    margin-left:5px;
}
li.nav-has-sub:hover > ul.nav-sub, ul.nav-sub li {
    display: block;
}
.sub-hidden > a:after{
    content: "\e095";
    font-family: 'Simple-Line-Icons';
    font-size: 12px;
    position: absolute;
    top: -2px;
    right: 15px;
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* Search Form */
#searchForm , #searchForm fieldset{
	margin:0px;
}
#searchForm fieldset {
	position: relative;
	display: block;
	top:12px;
}

div.input {
	width: 120px;
	padding: 5px 0px 7px 10px;
	border-radius: 20px;
	border: 1px solid #c6d2db;
	border-top: 1px solid #b4c1cb;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
	float: right;
	background: #e8edf1;
}

div.input.focus {
	border: 1px solid #9ecbe2;
	box-shadow: 0 0 6px #abdcff, inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

input#s {
	width: 100%;
	border: 0;
	border-radius: 20px;
	background: transparent;
	height: 16px;
	color: #b4bdc4;
	text-shadow: 0 1px 1px #fff;
}

input#s:focus {
	outline: none
}

input#searchSubmit {
	width: 19px;
	height: 19px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/search-icon.png) no-repeat;
	border: 0;
	position: absolute;
	top: 7px;
	right: 13px;
	z-index: 150;
	display: none;
	cursor: pointer;
}