/* ---------------------------------------------------
   BACKGROUND
--------------------------------------------------- */
.hdv-widget-subscribe .submit {
	background-color: #50c0e6;
}

/* ---------------------------------------------------
   COLOR
--------------------------------------------------- */
.hdv-contact a:hover, .hdv-socials a:hover i {
	color: #50c0e6;
}
.hdv-nav ul.hdv-header-nav > li > a:hover {
	color: #50c0e6;
}
.hdv-nav ul.hdv-header-nav > li.hdv-current-menu > a {
	color: #50c0e6;
}
.hdv-nav ul.hdv-header-nav li ul.tb-sub-menu > li:hover > a {
	padding-left: 5px;
	color: #50c0e6;
}
.hdv-footer a:hover {
	color: #50c0e6;
}
.hdv-footer .hdv-twitter-widget a {
	color: #50c0e6;
}
.hdv-footer .hdv-twitter-widget li:before {
	color: #50c0e6;
}
.hdv-bottom .hdv-copyright a {
	color: #50c0e6;
}

/* ---------------------------------------------------
   BORDER
--------------------------------------------------- */